.navBar {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  border: 1px solid #73da8c;
  padding: 1.5rem;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.4);
}
.navBar_list {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}
.navBar_list li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 4rem;
  background-image: linear-gradient(to bottom, #a7b6c5, #b9ecc2);
  border: 1px solid #73da8c;
  color: #ffffff;
  font-weight: 800;
  font-size: medium;
  border-radius: 1rem;
  transition-property: border-color, background-color;
  transition-duration: 0.3s;
}
.navBar_list li:hover {
  border-color: #889cb0;
}
.navBar_list li a {
  color: rgb(255, 255, 255);
}
